.about {
  margin: 0 auto;
  padding: 1.5em 0 3em;
  text-align: center;
}

.about__title {
  margin: 0;
  padding: 0.4em 0;
  font-family: $monster;
  font-size: 2.5rem;
  line-height: 1.2;
  letter-spacing: 2px;
}

.about__desc {
  margin: 0;
  font-size: 0.9rem;
  line-height: 1.5;
  color: $gray;
}

.about__player {
  margin-top: 20px;
}

.about__text {
  padding: 0 20px;

  .text__line {

  }
}