.parallax-space {
  position: relative;
  height: 60vh;
  overflow: hidden;
  background-image: url('../img/bg_color.png');
}

.bg {
  position: absolute;
  width: 100%;
  top: -10%;
  bottom: -100%;
  background-size: auto;
  background-position: bottom center;
  /*transform: translate3d(0px, 200px, 0px);*/
}

.bg1 {
  background-image: url('../img/bg_star.png');
}

.bg2 {

  background-image: url('../img/sp_moon2.png');
  background-repeat: no-repeat;
  background-position: 70% 30%;
}